form{
    padding:10px;
}
form input{
    width:100%;
    height:40px !important;
    border-radius: 3px;
    margin-bottom:10px;
    padding:10px;
}
.has-error label{
    color: #ff0e1d;
}
.has-error input.form-control{
   border:1px solid #ff0e1d;
}